@use '../customs' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;


.card-section {
    overflow-x: hidden;

    .square {
        min-height: 50vh;
        position: relative;

        &--content {
            display: none;
        }

        &--number {
            @include circle;
            @include absoluteCenter;
        }

        &--arrow {
            display: none;
        }
    }

    .card-1 {
        background-color: $blue-1;

        .square--number {
            border: 3px solid $beige-c;
            color: $beige-c;
        }
    }

    .card-2 {
        background-color: $blue-2;
    }

    .card-3 {
        background-color: $blue-3;
    }

    .card-4 {
        background-color: $blue-4;
    }
}

@include media-breakpoint-up(md) {

    .card-section {

        .square {
            min-height: 40vh;
        }
    }
}

@include media-breakpoint-up(lg) {

    .card-section {

        .square {
            min-height: 50vh;
            position: relative;
            padding: 1rem 3rem 2rem 1rem;

            &--content {
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;

                h4 {
                    color: $gray-100;
                }

                p {
                    font-size: 16px !important;
                    line-height: 1.5 !important;
                }
            }

            &--number {
                position: absolute;
                transform: translate(0%, 0%);
                bottom: 5%;
                left: 5%;
            }

            &--arrow {
                display: block;
                position: absolute;
                bottom: 5%;
                right: 5%;
                border: 3px solid #677280;
                padding: 0.5rem 0.75rem;
                cursor: pointer;

                &:hover {

                    i {
                        animation: shake 3000ms ease infinite;
                    }
                }

                i {
                    color: #677280;
                    font-size: 30px;
                }
            }

            .light {
                border: 3px solid #828fa0;

                i {
                    color: #828fa0;
                }
            }
        }

        .card-1 {

            p {
                color: $beige-b;
            }
        }

        .card-3 {

            h4 {
                color: #636d79 !important;
            }
        }
    }
}

@include media-breakpoint-up(xxl) {

    .card-section {

        .square {
            padding: 2rem 3rem 0rem 2rem;

            p {
                font-size: 22px !important;
            }
        }
    }

}