@use '../customs' as *;
@use '../components/mixins' as *;

#section-b {
    background-color: $beige-b;
}

#section-c {
    background-color: $beige-c;
}

#section-d {
    background-color: $beige-d;
}

.service {
    min-height: 100vh;
    position: relative;

    .left {

        .separator {
            display: none
        }

        .letter {
            @include circle;
            margin: 2rem 0 1rem 0;
            position: absolute;
            top: 2%;
        }

        h1,
        p,
        .button {
            display: none;
        }
    }

    .envelope {
        width: 100%;
        background-color: $blue-1;
        position: absolute;
        bottom: 1%;
        overflow: hidden;

        &--line-up {
            @include diagonal;
            bottom: -10px;
        }

        &--line-down {
            @include diagonal;
            top: -10px;
        }
    }

    .envelope-d {
        bottom: 0;
    }

}

@include media-breakpoint-up(md) {

    .service {
        min-height: 60vh;

        .envelope {
            width: 40%;
        }

        .envelope-d {
            bottom: 1%;
        }
    }
}

@include media-breakpoint-up(lg) {

    .service {
        min-height: 85vh;

        .left {
            padding-right: 10%;

            .title {
                margin-left: -1.5rem;
                margin-bottom: 3rem;

                .letter {
                    position: relative;
                    font-size: 68px;
                    font-weight: 700;
                    width: 75px;
                    height: 75px;
                    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
                }
            }

            .separator {
                @include textSeparator;
                display: block;
                margin: 1.5rem 0 2rem 0;
            }

            h1,
            p {
                display: block;
            }

            h1 {
                margin: 2rem 0 1rem 1rem;
                color: $blue-1;
            }

            .button {
                display: block;
                margin-top: 2rem;
                background-color: $beige-foot;
                width: 150px;
                height: 30px;
                display: flex;
                cursor: pointer;

                .largeBtn {
                    width: 115px;
                    height: 100%;
                    background-color: $brown;
                }

                .btnArrow {
                    width: 30px;
                    height: 100%;
                    background-color: $brown;
                    margin-left: 5px;
                    position: relative;

                    i {
                        color: $beige-foot;
                    }
                }
            }
        }

        .right {

            &--envelope {
                width: 30%;
                background-color: $blue-1;
                position: absolute;
                right: 0;
                overflow: hidden;

                &--line-up {
                    @include diagonal;
                    bottom: -10px;
                }

                &--line-down {
                    @include diagonal;
                    top: -10px;
                }
            }
        }

        .envelope {
            display: none;
        }
    }
}