@use '../customs' as *;
@use '../components/mixins' as *;

.footer {
    background-color: $blue-foot;

    h4 {
        display: none;
    }

    .contact-info {

        .space {
            width: 80%;
            height: 20vh;
            background-color: $blue-4;
        }

        ul {

            li {
                text-align: center;
                list-style: none;
                margin-top: 1rem;
                color: $beige-b;
            }
        }
    }

    .social-info {

        ul {

            li {
                list-style: none;

                a {

                    i {
                        margin: 1.25rem;
                        font-size: 40px;
                        color: $beige-b;
                    }
                }
            }
        }
    }

    .copy {
        width: 100%;
        height: 4rem;
        background-color: $beige-foot;
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            right: 0;

            .arrow-up {
                height: 4rem;
                width: 4rem;
                background-color: $blue-1;

                i {
                    font-size: 40px;
                    color: $beige-b;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .footer {

        .contact-info {

            .space {
                width: 60%;
                height: 25vh;
            }

            ul {

                li {
                    font-size: 18px;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .footer {

        h4 {
            display: block;
            color: $beige-c;
        }

        .contact-info {

            .space {
                width: 55%;
                height: 25vh;
            }
        }

        .social-info {
            position: absolute;
            right: 4rem;

            h4 {
                margin-left: 1rem;
            }

            ul {
                padding-left: 0;
            }
        }

        .copy {

            .info {
                height: 20px;
                width: 600px;
                background-color: $white-footer;
            }

        }
    }
}

@include media-breakpoint-up(xl) {

    .footer {

        .social-info {

            ul {

                li {

                    a {

                        i {
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
}