@use '../customs' as *;

@mixin circle {
    width: 60px;
    height: 60px;
    line-height: 50px;
    border: 3px solid $brown;
    border-radius: 50%;
    font-size: 50px;
    color: $brown;
    text-align: center;
}

@mixin absoluteCenter {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

@mixin textSeparator {
    width: 100px;
    height: 10px;
    background-color: $brown;
}

@mixin diagonal {
    border-bottom: 12px solid $blue-2;
    transform-origin: left;
    position: absolute;
}

@mixin cross {
    border-bottom: 12px solid $blue-4;
    transform-origin: left;
    position: absolute;
    opacity: 0.3;
    z-index: 10;
}