@use '../customs' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;

.navigator {

    .topbar {
        display: none;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(109, 163, 200)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar {
        background-color: $beige-nav;
        min-height: 10vh;

        &-brand {
            display: flex;
            align-items: center;

            img {
                animation: roll-in 2000ms ease;
            }

            .logo {
                background-color: $brown;
                height: 24px;
                width: 100px;
            }
        }

        &-collapse {

            ul {

                li {
                    margin-top: 1rem;
                    margin-left: 2.25rem;
                    width: 200px;
                    height: 20px;
                    background-color: $blue-3;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .navigator {

        .navbar-toggler-icon {
            font-size: 30px;
        }

        .navbar {

            &-brand {

                img {
                    height: 30px;
                }

                .logo {
                    margin-left: 5px;
                    height: 30px;
                    width: 150px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .navigator {

        .topbar {
            margin: 0;
            display: block;
            background-color: $blue-top;

            ul {
                padding: 0.75rem 0;

                li {
                    margin-left: 1rem;
                    list-style: none;
                    width: 75px;
                    height: 10px;
                    background-color: $blue-3;
                    cursor: pointer;
                }
            }
        }

        .navbar {

            &-collapse {

                ul {

                    li {
                        margin-top: 0;
                        margin-left: 1.25rem;
                        width: 100px;
                        transition: all 250ms ease-in-out;

                        &:hover {
                            opacity: 0.45;
                            transition: all 250ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
}


@include media-breakpoint-up(xl) {

    .navigator {

        .navbar {

            &-collapse {

                ul {

                    li {
                        width: 125px;
                    }
                }
            }
        }
    }
}