// White and Gray colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-1000: #151414;
$black: #000;

// Colors
$blue-top: #6da3c8;
$blue-main: #dee8f1;
$blue-1: #7b9bc2;
$blue-2: #a4b9d4;
$blue-3: #d8e2ee;
$blue-4: #b8c8df;
$blue-foot: #89adcf;
$blue-env: #7a9cbf;
$beige-nav: #f8f7f5;
$beige-b: #efeeec;
$beige-c: #eae5e2;
$beige-d: #efeeec;
$beige-foot: #cac2bf;
$brown: #72645b;

// Fonts
$roboto: 'Roboto', sans-serif;

// Import Bootstrap to use sass
@import "../node_modules/bootstrap/scss/bootstrap";